<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accueil</title>
    <!-- Lien vers le fichier CSS principal -->
    <link rel="stylesheet" href="/ressources/static/css/style.css" />
    <!-- Lien vers le fichier CSS de Select2 -->
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <!-- Lien vers jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Lien vers le fichier JS de Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- Lien vers le fichier JS principal -->
    <script src="/ressources/static/js/main.js" defer></script>
    <!-- Styles spécifiques pour les catégories -->
    <style>
      /* Style pour les choix multiples de Select2 */
      .select2-container--default
        .select2-selection--multiple
        .select2-selection__choice {
        color: black;
      }

      .select2-container--default .select2-results__option {
        color: black;
      }

      .select2-container--default .select2-selection--multiple {
        background-color: #333;
        border: 1px solid #aaa;
        color: black;
      }

      .select2-container--default
        .select2-selection--multiple
        .select2-selection__rendered {
        color: black;
      }
    </style>
  </head>
  <body>
    <!-- En-tête de la page -->
    <header class="header">
      <h1>Gaming Universe</h1>
    </header>
    <!-- Barre de navigation -->
    <nav class="nav">
      {{if .User}}
      <span class="welcome-message">
        <a href="/profile/{{.User}}" class="username-header">{{.User}}</a>!
      </span>
      <div class="nav-center">
        <!-- Liens de navigation pour les utilisateurs connectés -->
        <a href="/logout" class="nav-link">Déconnexion</a>
        <a href="/create-post" class="nav-link">Créer un Post</a>
      </div>
      {{else}}
      <div class="nav-center">
        <!-- Liens de navigation pour les utilisateurs non connectés -->
        <a href="/login" class="nav-link">Connexion</a>
        <a href="/register" class="nav-link">Inscription</a>
        {{end}}
      </div>
    </nav>
    <!-- Contenu principal -->
    <div class="container">
      <h2 class="posts-title">Posts</h2>
      <!-- Formulaire de filtrage par catégories -->
      <form method="get" action="/">
        <label for="categories">Sélectionnez les Catégories:</label>
        <select id="categories" name="categories" multiple="multiple">
          {{range .Categories}}
          <option value="{{.ID}}">{{.Name}}</option>
          {{end}}
        </select>
        <button type="submit">Filtrer</button>
      </form>
      {{range .Posts}}
      <div class="post">
        <!-- En-tête du post -->
        <div class="post-header">
          <h3><a href="/post/{{.ID}}" class="post-link">{{.Title}}</a></h3>
        </div>
        <!-- Informations sur l'utilisateur -->
        <div class="post-user">
          <div class="profile-picture">
            {{if .User.ProfilePicture}}
            <img
              src="/ressources/static/profile_pictures/{{.User.ProfilePicture}}"
              alt="Photo de Profil"
              class="profile-picture"
            />
            {{else}}
            <img
              src="/ressources/static/img/default-picture.png"
              alt="Photo de Profil par Défaut"
              class="profile-picture"
            />

            {{end}}
          </div>
          <div class="post-meta">
            <div class="username">
              <a href="/profile/{{.User.Username}}" class="username-link"
                >{{.User.Username}}</a
              >
            </div>
            <div class="time-ago">Posté {{.TimeAgo}}</div>
          </div>
        </div>
        <!-- Contenu du post -->
        <div class="post-content">
          <p>{{.Content}}</p>
          <p>
            Catégories: {{range .Categories}}
            <span class="category">{{.Name}}</span>
            {{end}}
          </p>
          <p>Likes: <span id="like-count-{{.ID}}">{{.Likes}}</span></p>
        </div>
        <!-- Pied de page du post -->
        <div class="post-footer">
          <div>
            <button class="like-button" data-post-id="{{.ID}}">❤️</button>
            <button class="reply-button" data-post-id="{{.ID}}">
              Répondre
            </button>
            {{if eq .UserID $.CurrentUserID}}
            <button class="edit-button" data-post-id="{{.ID}}">Modifier</button>
            {{end}}
          </div>
        </div>
        <!-- Formulaire de modification -->
        {{if eq .UserID $.CurrentUserID}}
        <div id="edit-form-{{.ID}}" class="edit-form" style="display: none">
          <form action="/edit-post/{{.ID}}" method="post">
            <label for="title">Titre:</label>
            <input
              type="text"
              id="title"
              name="title"
              value="{{.Title}}"
              required
            />
            <label for="content">Contenu:</label>
            <textarea id="content" name="content" required>
{{.Content}}</textarea
            >
            <button type="submit">Mettre à jour le Post</button>
          </form>
        </div>
        {{end}}
        <!-- Section des commentaires -->
        <div class="comments-section">
          <h4>Commentaires</h4>
          {{range $index, $comment := .Comments}} {{if lt $index 2}}
          <div class="comment">
            <p>{{.Content}}</p>
            <p>
              <em
                >Commenté par
                <a href="/profile/{{.User.Username}}">{{.User.Username}}</a></em
              >
            </p>
          </div>
          {{end}} {{end}} {{if gt (len .Comments) 2}}
          <a href="/post/{{.ID}}" class="view-comments-link"
            >Voir tous les commentaires</a
          >
          {{end}}
        </div>
        {{if .User}}
        <!-- Formulaire de réponse -->
        <div id="reply-form-{{.ID}}" class="reply-form" style="display: none">
          <form action="/post/{{.ID}}/comment" method="post">
            <textarea name="content" required></textarea>
            <button type="submit">Soumettre le Commentaire</button>
          </form>
        </div>
        {{end}}
      </div>
      {{else}}
      <p>Aucun post disponible</p>
      {{end}}
    </div>
    <!-- Pied de page -->
    <footer class="footer">
      <p>&copy; 2024 Forum</p>
    </footer>
    <!-- Script pour initialiser Select2 sur le sélecteur de catégories -->
    <script>
      $(document).ready(function () {
        $("#categories").select2({
          closeOnSelect: false,
        });
        document.querySelectorAll(".edit-button").forEach(function (button) {
          button.addEventListener("click", function (event) {
            event.preventDefault();
            var postId = this.dataset.postId;
            var editForm = document.getElementById("edit-form-" + postId);
            editForm.style.display =
              editForm.style.display === "block" ? "none" : "block";
          });
        });
      });
    </script>
  </body>
</html>
