<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil de {{.ProfileUser.Username}}</title>
    <!-- Lien vers le fichier CSS principal -->
    <link rel="stylesheet" href="/ressources/static/css/style.css" />
    <!-- Lien vers le fichier JS principal -->
    <script src="/ressources/static/js/main.js" defer></script>
  </head>
  <body>
    <!-- En-tête de la page -->
    <header class="header">
      <h1>Gaming Universe</h1>
    </header>
    <!-- Barre de navigation -->
    <nav class="nav">
      {{if .CurrentUser}}
      <span class="welcome-message">
        <a href="/profile/{{.CurrentUser}}">{{.CurrentUser}}</a>!
      </span>
      <div class="nav-center">
        <!-- Liens de navigation pour les utilisateurs connectés -->
        <a href="/" class="nav-link">Accueil</a>
        <a href="/logout" class="nav-link">Déconnexion</a>
        <a href="/create-post" class="nav-link">Créer un Post</a>
      </div>
      {{else}}
      <div class="nav-center">
        <!-- Liens de navigation pour les utilisateurs non connectés -->
        <a href="/" class="nav-link">Accueil</a>
        <a href="/login" class="nav-link">Connexion</a>
        <a href="/register" class="nav-link">Inscription</a>
      </div>
      {{end}}
    </nav>
    <!-- Contenu principal -->
    <div class="container">
      <h1>Profil de {{.ProfileUser.Username}}</h1>
      <!-- Affichage de la photo de profil -->
      <div class="profile-picture">
        {{if .ProfileUser.ProfilePicture}}
        <img
          src="/ressources/static/profile_pictures/{{.ProfileUser.ProfilePicture}}"
          alt="Photo de Profil"
          class="profile-picture"
        />
        {{else}}
        <img
          src="/ressources/static/img/default-picture.png"
          alt="Photo de Profil par Défaut"
          class="profile-picture"
        />

        {{end}}
      </div>
      <!-- Ajoutez ce formulaire de modification dans la boucle des posts -->
      <h2>Posts de {{.ProfileUser.Username}}</h2>
      {{range .Posts}}
      <br />
      <div class="post">
        <!-- En-tête du post -->
        <div class="post-header">
          <h3><a href="/post/{{.ID}}" class="post-link">{{.Title}}</a></h3>
        </div>
        <!-- Informations sur l'utilisateur -->
        <div class="post-user">
          <div class="profile-picture">
            {{if .User.ProfilePicture}}
            <img
              src="/ressources/static/profile_pictures/{{.User.ProfilePicture}}"
              alt="Photo de Profil"
              class="profile-picture"
            />
            {{else}}
            <img
              src="/ressources/static/img/default-picture.png"
              alt="Photo de Profil par Défaut"
              class="profile-picture"
            />
            {{end}}
          </div>
          <div class="post-meta">
            <div class="username">
              <a href="/profile/{{.User.Username}}" class="username-link"
                >{{.User.Username}}</a
              >
            </div>
            <div class="time-ago">Posté {{.TimeAgo}}</div>
          </div>
        </div>
        <!-- Contenu du post -->
        <div class="post-content">
          <p>
            <strong><em>{{.Content}}</em></strong>
          </p>
          <p>
            Catégories: {{range .Categories}}
            <span class="category">{{.Name}}</span>
            {{end}}
          </p>
          <p>Likes: <span id="like-count-{{.ID}}">{{.Likes}}</span></p>
        </div>
        <!-- Pied de page du post -->
        <div class="post-footer">
          <div>
            <button class="like-button" data-post-id="{{.ID}}">❤️</button>
            <button class="reply-button" data-post-id="{{.ID}}">
              Répondre
            </button>
            {{if eq .UserID $.CurrentUserID}}
            <button class="edit-button" data-post-id="{{.ID}}">Modifier</button>
            {{end}}
          </div>
        </div>
        <!-- Formulaire de modification -->
        {{if eq .UserID $.CurrentUserID}}
        <div id="edit-form-{{.ID}}" class="edit-form" style="display: none">
          <form action="/edit-post/{{.ID}}" method="post">
            <label for="title">Titre:</label>
            <input
              type="text"
              id="title"
              name="title"
              value="{{.Title}}"
              required
            />
            <label for="content">Contenu:</label>
            <textarea id="content" name="content" required>
{{.Content}}</textarea
            >
            <button type="submit">Mettre à jour le Post</button>
          </form>
        </div>
        {{end}}
        <!-- Section des commentaires -->
        <div class="comments-section">
          <h4>Commentaires</h4>
          {{range $index, $comment := .Comments}} {{if lt $index 2}}
          <div class="comment">
            <p>{{.Content}}</p>
            <p>
              <em
                >Commenté par
                <a href="/profile/{{.User.Username}}">{{.User.Username}}</a></em
              >
            </p>
          </div>
          {{end}} {{end}} {{if gt (len .Comments) 2}}
          <a href="/post/{{.ID}}" class="view-comments-link"
            >Voir tous les commentaires</a
          >
          {{end}}
        </div>
        {{if .User}}
        <!-- Formulaire de réponse -->
        <div id="reply-form-{{.ID}}" class="reply-form" style="display: none">
          <form action="/post/{{.ID}}/comment" method="post">
            <textarea name="content" required></textarea>
            <button type="submit">Soumettre le Commentaire</button>
          </form>
        </div>
        {{end}}
      </div>

      {{else}}
      <p>Aucun post disponible</p>
      {{end}}

      <!-- Liens vers les abonnés et abonnements -->
      <h3>
        <a href="/profile/{{.ProfileUser.Username}}/followers"
          >Abonnés: {{.FollowersCount}}</a
        >
      </h3>
      <h3>
        <a href="/profile/{{.ProfileUser.Username}}/following"
          >Abonnements: {{.FollowingCount}}</a
        >
      </h3>

      <!-- Boutons pour modifier le profil ou gérer l'abonnement -->
      {{if eq .CurrentUserID .ProfileUser.ID}}
      <a href="/profile/{{.ProfileUser.Username}}/edit" class="button"
        >Modifier le Profil</a
      >
      {{else}} {{if .IsFollowing}}
      <form action="/profile/{{.ProfileUser.Username}}/unfollow" method="post">
        <button type="submit">Se désabonner</button>
      </form>
      {{else}}
      <form action="/profile/{{.ProfileUser.Username}}/follow" method="post">
        <button type="submit">S'abonner</button>
      </form>
      {{end}} {{end}}
    </div>
    <!-- Pied de page -->
    <footer class="footer">
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
