<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commentaires</title>
    <!-- Lien vers le fichier CSS principal -->
    <link rel="stylesheet" href="/ressources/static/css/style.css" />
  </head>
  <body>
    <!-- Titre du post -->
    <h2>{{.Post.Title}}</h2>
    <!-- Contenu du post -->
    <p>{{.Post.Content}}</p>
    <!-- Information sur l'auteur du post -->
    <p>
      <em>
        Posté par
        <a href="/profile/{{.Post.User.Username}}"> {{.Post.User.Username}} </a>
      </em>
    </p>
    <!-- Section des commentaires -->
    <div class="comments-section">
      <h3>Tous les Commentaires</h3>
      <!-- Liste des commentaires -->
      {{range .Post.Comments}}
      <div class="comment">
        <p>{{.Content}}</p>
        <!-- Information sur l'auteur du commentaire -->
        <p>
          <em>
            Commenté par
            <a href="/profile/{{.User.Username}}"> {{.User.Username}} </a>
          </em>
        </p>
      </div>
      {{else}}
      <!-- Message affiché s'il n'y a pas de commentaires -->
      <p>Aucun commentaire pour le moment</p>
      {{end}}
    </div>
  </body>
</html>
