<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier le Profil</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      .error-message {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
      }
    </style>
    <script src="/static/js/main.js" defer></script>
  </head>
  <body>
    <header class="header">
      <h1>Univers du Jeu</h1>
    </header>
    <nav class="nav">
      {{if .User}}
      <span class="welcome-message">
        <a href="/profile/{{.User.Username}}">{{.User.Username}}</a>!</span
      >
      <div class="nav-center">
        <a href="/logout" class="nav-link">Déconnexion</a>
        <a href="/create-post" class="nav-link">Créer un Post</a>
      </div>
      {{else}}
      <div class="nav-center">
        <a href="/" class="nav-link">Accueil</a>
        <a href="/login" class="nav-link">Connexion</a>
        <a href="/register" class="nav-link">Inscription</a>
      </div>
      {{end}}
      <a href="/profile/{{.User.Username}}" class="nav-link"
        >Retour au Profil</a
      >
    </nav>
    <div class="container">
      <h2>Modifier votre profil</h2>
      <form
        id="edit-profile-form"
        action="/profile/{{.User.Username}}/edit"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="username">Nom d'utilisateur:</label>
        <input
          type="text"
          id="username"
          name="username"
          value="{{.User.Username}}"
          required
        />
        {{if .UsernameError}}
        <div class="error-message">{{.UsernameError}}</div>
        {{end}}

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          value="{{.User.Email}}"
          required
        />
        {{if .EmailError}}
        <div class="error-message">{{.EmailError}}</div>
        {{end}}

        <label for="password"
          >Nouveau Mot de Passe (laisser vide pour conserver le mot de passe
          actuel):</label
        >
        <input type="password" id="password" name="password" />
        {{if .PasswordError}}
        <div class="error-message">{{.PasswordError}}</div>
        {{end}}

        <label for="profile_picture">Photo de Profil:</label>
        <input type="file" id="profile_picture" name="profile_picture" />
        <button type="submit">Sauvegarder les Modifications</button>
      </form>
      <form
        id="delete-profile-form"
        action="/profile/{{.User.Username}}/delete"
        method="post"
        onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre profil ? Cette action est irréversible.');"
      >
        <button type="submit" style="background-color: red; color: white">
          Supprimer le Profil
        </button>
      </form>
    </div>
    <footer class="footer">
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
