<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modifier le Post</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Modifier le Post</h1>
    </header>
    <nav>
      <div class="nav-center">
        <a href="/">Accueil</a>
        <a href="/logout">Déconnexion</a>
      </div>
    </nav>
    <div class="container">
      <form action="/edit-post/{{.Post.ID}}" method="post">
        <label for="title">Titre:</label>
        <input
          type="text"
          id="title"
          name="title"
          value="{{.Post.Title}}"
          required
        />
        <label for="content">Contenu:</label>
        <textarea id="content" name="content" required>
{{.Post.Content}}</textarea
        >
        <label for="category">Catégorie:</label>
        <select id="category" name="category" required>
          {{range .Categories}}
          <option
            value="{{.ID}}"
            {{if
            eq
            .ID
            $.Post.CategoryID}}selected{{end}}
          >
            {{.Name}}
          </option>
          {{end}}
        </select>
        <button type="submit">Mettre à jour le Post</button>
      </form>
    </div>
    <footer>
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
