<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profil de {{.ProfileUser.Username}}</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/main.js" defer></script>
  </head>
  <body>
    <header class="header">
      <h1>Gaming Universe</h1>
    </header>
    <nav class="nav">
      {{if .CurrentUser}}
      <span class="welcome-message">
        <a href="/profile/{{.CurrentUser}}">{{.CurrentUser}}</a>!</span
      >
      <div class="nav-center">
        <a href="/logout" class="nav-link">Déconnexion</a>
        <a href="/create-post" class="nav-link">Créer un Post</a>
      </div>
      {{else}}
      <div class="nav-center">
        <a href="/" class="nav-link">Accueil</a>
        <a href="/login" class="nav-link">Connexion</a>
        <a href="/register" class="nav-link">Inscription</a>
      </div>
      {{end}}
    </nav>
    <div class="container">
      <h1>Profil de {{.ProfileUser.Username}}</h1>
      <div class="profile-picture">
        {{if .ProfileUser.ProfilePicture}}
        <img
          src="/{{.ProfileUser.ProfilePicture}}"
          alt="Photo de Profil"
          class="profile-picture"
        />
        {{else}}
        <img
          src="/static/img/default-picture.png"
          alt="Photo de Profil par Défaut"
          class="profile-picture"
        />
        {{end}}
      </div>
      <h2>Posts de {{.ProfileUser.Username}}</h2>
      {{range .Posts}}
      <div class="post">
        <h3>{{.Title}}</h3>
        <p>{{.Content}}</p>
        <p><em>Posté {{.TimeAgo}}</em></p>
      </div>
      {{else}}
      <p>Aucun post disponible</p>
      {{end}}

      <h3>
        <a href="/profile/{{.ProfileUser.Username}}/followers"
          >Abonnés: {{.FollowersCount}}</a
        >
      </h3>
      <h3>
        <a href="/profile/{{.ProfileUser.Username}}/following"
          >Abonnements: {{.FollowingCount}}</a
        >
      </h3>

      {{if eq .CurrentUserID .ProfileUser.ID}}
      <a href="/profile/{{.ProfileUser.Username}}/edit" class="button"
        >Modifier le Profil</a
      >
      {{else}} {{if .IsFollowing}}
      <form action="/profile/{{.ProfileUser.Username}}/unfollow" method="post">
        <button type="submit">Se désabonner</button>
      </form>
      {{else}}
      <form action="/profile/{{.ProfileUser.Username}}/follow" method="post">
        <button type="submit">S'abonner</button>
      </form>
      {{end}} {{end}}
    </div>
    <footer class="footer">
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
