<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscription - Étape 1</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      .error-message {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
      }
    </style>
    <script src="/static/js/main.js" defer></script>
  </head>
  <body>
    <header class="header">
      <h1>Univers du Jeu</h1>
    </header>
    <nav class="nav">
      {{if .User}}
      <span class="welcome-message">{{.User}}!</span>
      <div class="nav-center">
        <a href="/logout" class="nav-link">Déconnexion</a>
        <a href="/create-post" class="nav-link">Créer un Post</a>
      </div>
      {{else}}
      <div class="nav-center">
        <a href="/" class="nav-link">Accueil</a>
        <a href="/login" class="nav-link">Connexion</a>
        <a href="/register" class="nav-link">Inscription</a>
      </div>
      {{end}}
    </nav>
    <div class="container">
      <h2>Inscription - Étape 1</h2>
      <form action="/register-step1" method="post">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Entrez votre email"
          value="{{.Email}}"
          required
        />
        {{if .EmailError}}
        <div class="error-message">{{.EmailError}}</div>
        {{end}}

        <label for="username">Nom d'utilisateur:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Choisissez un nom d'utilisateur"
          value="{{.Username}}"
          required
        />
        {{if .UsernameError}}
        <div class="error-message">{{.UsernameError}}</div>
        {{end}}

        <label for="password">Mot de passe:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Créez un mot de passe"
          required
        />
        {{if .PasswordError}}
        <div class="error-message">{{.PasswordError}}</div>
        {{end}}

        <button type="submit">Suivant</button>
      </form>
    </div>
    <footer class="footer">
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
