<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Réinitialiser le Mot de Passe</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="header">
      <h1>Gaming Universe</h1>
    </header>
    <nav class="nav">
      {{if .User}}
      <span class="welcome-message">{{.User}}!</span>
      <div class="nav-center">
        <a href="/logout" class="nav-link">Déconnexion</a>
        <a href="/create-post" class="nav-link">Créer un Post</a>
      </div>
      {{else}}
      <div class="nav-center">
        <a href="/" class="nav-link">Accueil</a>
        <a href="/login" class="nav-link">Connexion</a>
        <a href="/register" class="nav-link">Inscription</a>
      </div>
      {{end}}
    </nav>
    <div class="container">
      <h2>Réinitialiser le Mot de Passe</h2>
      <form action="/reset-password" method="post">
        <input type="hidden" name="email" value="{{.Email}}" />
        <label for="securityQuestion">Question de Sécurité:</label>
        <input
          type="text"
          id="securityQuestion"
          name="securityQuestion"
          value="{{.Question}}"
          readonly
        />
        <label for="securityAnswer">Réponse:</label>
        <input type="text" id="securityAnswer" name="securityAnswer" required />
        <label for="newPassword">Nouveau Mot de Passe:</label>
        <input type="password" id="newPassword" name="newPassword" required />
        <button type="submit">Réinitialiser le Mot de Passe</button>
      </form>
    </div>
    <footer class="footer">
      <p>&copy; 2024 Forum</p>
    </footer>
  </body>
</html>
