<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commentaires</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h2>{{.Post.Title}}</h2>
    <p>{{.Post.Content}}</p>
    <p>
      <em
        >Posté par
        <a href="/profile/{{.Post.User.Username}}"
          >{{.Post.User.Username}}</a
        ></em
      >
    </p>
    <div class="comments-section">
      <h3>Tous les Commentaires</h3>
      {{range .Post.Comments}}
      <div class="comment">
        <p>{{.Content}}</p>
        <p>
          <em
            >Commenté par
            <a href="/profile/{{.User.Username}}">{{.User.Username}}</a></em
          >
        </p>
      </div>
      {{else}}
      <p>Aucun commentaire pour le moment</p>
      {{end}}
    </div>
  </body>
</html>
